* {
  box-sizing: border-box; 
}

:focus {
  outline: none;
}

body {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

input {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.search-container {
  width: 300px;
  position: relative;
}

.search-container input,
.search-container .suggestions {
  width: 100%;
}

.search-container .suggestions {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  background: white;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}



ul li {
  padding: 10px;
  cursor: pointer;
}

ul li:hover {
  background-color: #e0e0e0;
}

.highlight {
  background-color: #e0e0e0;
}
